@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{

    background-image: linear-gradient(to right,#F3B562, #F2EBBF );
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(338, 13%, 37%, 0.336);
    width: 600px;
    padding: 10px;
    margin: auto
}
h1{
    color: #F06060;
    text-align: center;
    text-shadow: 1px 1px 2px #d35757;
}
h2{
    color: #8CBEB2;
    text-align: right;
    text-shadow: 1px 1px 2px #618a80da;
}
p{
    text-align: justify;
}