@charset "UTF-8"
body{
            background-color: lightgoldenrodyellow;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;

        }
        h1{
            color: goldenrod;
            font-size: 1.5em;
        }
        h2{
            color: greenyellow
            font-size: 1.2em;
        }
        p{
            color: blueviolet;
            text-align: justify;
            font-size: 1.1em;
        }
       